#cajaroja{
    background-color: red;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

#cajanaranja{
    background-color: orange;
    color: white;
    position: absolute;
    width: 45%;
    height: 15%;
    text-align: center;
    /* Usar Z-index */
}

#cajaazul{
    background-color: blue;    
    color: white;
    position: relative;
    top: 50pt;
    left: 10%;
    width: 38%;
}

.cajablanca{
    background-color: white;
}

#cajaturquesa{
    background-color: turquoise;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

#cajaverde{
    background-color: yellowgreen;
}

#cajaamarilla{
    background-color: gold;
}

#cajarosa{
    background-color: pink;
    display: grid;
    gap: 10pt;
}
