body{
	background-color: seagreen; 
}

h1{
	color: blue;
}

.titulo{
    color: yellow;
}

#titulo3{
	color: red;
}

#padre{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#contenedor1{
	position: relative;
	top: 80px;
	left: 10%;
	display: inline-block;
	background-color: violet;
}

#subcontenedor1{
	position: absolute;
	top: 80px;
	left: 10%;
	z-index: 3; /* El último elemento del plano se lo superpone; ignorando la propiedad de los demás contenedores. */
	background-color: aliceblue;
}

#contenedor2{
	position: relative;
	top: 80px;
	left: 10%;
	float: left;
	background-color: rgb(155, 250, 253);
}

#contenedor3{
	position: relative;
	top: 80px;
	left: 10%;
	background-color: white;
	width: 180;
	height: 180;
}
